<div class="signup-contents">
	<form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
		<h1>Register</h1>
		<br/>
		<div class="input-group">
			<label for="email">Email</label>
			<input 
				required 
				ngModel 
				#email="ngModel" 
				pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$"
				type="email" 
				name="email"/>
			<div 
				class="error-message"
				[style.visibility]="email.touched && !email.valid ? 'visible' : 'hidden'">Please enter a valid email address.</div>
		</div>
		<div class="input-group">
			<label for="firstName">First Name</label>
			<input 
				required 
				ngModel 
				#password="ngModel" 
				type="text" 
				name="firstName"/>
		</div>
		<div class="input-group">
			<label for="lastName">Last Name</label>
			<input 
				required 
				ngModel 
				#password="ngModel" 
				type="text" 
				name="lastName"/>
		</div>
		<div class="input-group">
			<label for="password">Password</label>
			<input 
				required 
				ngModel 
				#password="ngModel" 
				type="password" 
				name="password"/>
		</div>
		<div class="button-group">
			<button type="submit" [disabled]="!signupForm.valid">Register</button>
			<button type="text" routerLink="/login">Cancel</button>
		</div>
	</form>

</div>
